<template name="navigation">
	<nav class="navbar navbar-inverse" role="banner">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="logo"></a>
			</div>

			<div class="collapse navbar-collapse navbar-right">
				<ul class="nav navbar-nav">
					<li class="active"><a href="{{pathFor 'home'}}">Home</a></li>
					<li><a href="{{pathFor 'kente'}}">Kente List</a></li>
					<li><a href="{{pathFor 'dressUp'}}">Dress Up</a></li>
					<li><a href="portfolio.html">Portfolio</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <i class="fa fa-angle-down"></i></a>
						<ul class="dropdown-menu">
							<li><a href="blog-item.html">Blog Single</a></li>
							<li><a href="pricing.html">Pricing</a></li>
							<li><a href="404.html">404</a></li>
							<li><a href="shortcodes.html">Shortcodes</a></li>
						</ul>
					</li>
					<li><a href="blog.html">Blog</a></li> 
					<li><a href="contact-us.html">Contact</a></li>                        
				</ul>
			</div>
		</div><!--/.container-->
	</nav><!--/nav-->
</template>

<template name="footer">
	<footer id="footer" class="midnight-blue">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					&copy; 2013 <a target="_blank" href="http://shapebootstrap.net/" title="Free Twitter Bootstrap WordPress Themes and HTML templates">ShapeBootstrap</a>. All Rights Reserved.
				</div>
				<div class="col-sm-6">
					<ul class="pull-right">
						<li><a href="#">Home</a></li>
						<li><a href="#">About Us</a></li>
						<li><a href="#">Faq</a></li>
						<li><a href="#">Contact Us</a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer><!--/#footer-->
</template>